@import 'reset';

@font-face {
    font-family: 'aileronbold';
    src: url('../font/aileron-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aileronlight';
    src: url('../font/aileron-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aileronregular';
    src: url('../font/aileron-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aileronsemibold';
    src: url('../font/aileron-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mv_boliregular';
    src: url('../font/mvboli-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html{background-color: blue;}